 
 @media (max-width: 768px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}
@media (max-width: 992px) {
  #hero .container {
    padding-top: 62px;
  }
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}



 .logo{
  color: #5fcf80;
  text-decoration: none;
 }
 h1 ,h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
 }
 #header{
   box-shadow: 0px 0 18px rgb(55 66 59 / 8%);
 }
  #header a{
   
    text-decoration: none;
  }
  .body{
    font-family: "Open Sans", sans-serif;
    color: #444444;
      padding-left: auto;
      line-height: 1.5;
      font-weight: 400;
      font-size: 1rem;
  }
  a:hover{
    color: #5fcf80;
    text-decoration: none;
  }
  
  .container{
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  .navbar{
      padding: 0;
  }
  .navbar ul{
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;
      align-items: center;
     
      text-decoration: none;
      
  }
 
  .icon-click ul{
    padding: 0;
    margin: 0;
    /* display:inline-block ; */
    list-style: none;
    align-items: center;
   
    text-decoration: none;
    
  }
  
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
/* #5fcf80 */
/* #5fcf80 */
  .navbar li{
      position: relative;
  }
  .icon-click li{
    position: relative;
}
  
.navbar .dropdown ul{
  position: absolute;
  visibility: hidden;
  display: block;
  background: #fff;
  z-index: 99;
  transition: 0.3s;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  border-radius: 4px;
  opacity: 0;
}
.icon-click .dropdown ul{
  position: absolute;
  visibility: hidden;
  display: block;
  background: #fff;
  z-index: 99;
  transition: 0.3s;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  border-radius: 4px;
  opacity: 0;
}
.navbar .dropdown .dropdown ul{
  visibility: hidden;
}
.navbar .dropdown ul a{
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
}
.navbar .dropdown:hover >ul{
  display: block;
  visibility: visible;
  opacity: 1;
}
.icon-click .dropdown:hover >ul{
  display: block;
  visibility: visible;
  opacity: 1;
}

.icon-click{
  min-width: 300px;
  background-color: #848484;
}

   .navbar .dropdown .dropdown:hover>ul{
     right: 100%;
     opacity: 1;
     top: 0;
     visibility: visible;
   }
  .navbar a, .navbar a:focus{
    display: flex;
    padding: 10px 0 10px 30px;
    font-size: 15px;
   font-weight: 500;
   color: #37423b;
   font-family: "Poppins", sans-serif;
   justify-content: space-between;
   align-items: center;
  }
  .icon-click a, .icon-click a:focus{
    
    padding: 10px 0 10px 30px;
    font-size: 15px;
   font-weight: 500;
   color: #37423b;
   font-family: "Poppins", sans-serif;
   justify-content: space-between;
   align-items: center;
   text-decoration: none;
  }
  @media  (max-width:700px){
    .icon-click a{
      font-size: 40px;
    }
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #5fcf80;
    text-decoration: none;
  }
  #header{
    background-color:white;
    padding: 15px 0;
  }
.mobile-nav-toggle{
   font-size: 28px;
   display: none;
   color: #37423b;
   padding-left: 15px;
   
 }

 

 @media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .nav-item li {
    display: none;
   
  }
 
}
  .logo{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
   letter-spacing: 1px;
   line-height: 1;
  }
  .logo a{
    color: #5fcf80;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

  }
  .get-started-btn{
    font-size: 14px;
    margin-left: 22px;
    background-color: #5fcf80;
    color: white;
    border-radius: 50px;
    padding: 8px 25px;
    display: inline-block;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    /* letter-spacing: 1px; */
    position: relative;
}
@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}
.get-started-btn:hover{
  background-color: #34b95c;
  color:white ;
}
  
#hero {
  width: 100%;
  height: 80vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}
@media (min-width: 1024px){
#hero {
    background-attachment: fixed;
}
#hero .container{
  padding-top: 72px;
}
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero h1{
  font-size: 48px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0;
  line-height: 56px;
  color: #fff;
}

  #hero h2{
    font-size: 24px;
    margin: 10px 0px 0px 0px;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  #hero  .btn-get-started{
     color:white ;
     font-size: 15px;
    margin-top: 30px;
     padding: 10px 35px;
     display: inline-block;
      text-decoration: none;
      border: 2px solid white;
      border-radius: 50px;
      font-weight: 500;
      letter-spacing: 1px;
      font-family: "Raleway", sans-serif;
  }
  #hero .btn-get-started:hover{
    background: #5fcf80;
  border: 2px solid #5fcf80;
    
  }
  section{
    padding: 60px 0 60px 0;
  
    overflow: hidden;
  }
  .img-fluid{
    max-width: 100%;
  }
  .about .container h3{
    font-weight: 600;
    font-size: 26px;
   
  }
  .about .container ul{
    list-style: none;
    padding: 0;



  }
  .about .content ul li {
    padding-bottom: 10px;
}
  .about .container ul i{
    color: #5fcf80;
    padding-right: 4px;
    font-size: 20px;
    
}
.testimonial-img{
  width: 90px;
  position: absolute;
  left: -45px;
  border: 1px;
  border-radius: 10px;
  border: 6px solid #fff;
}
.testimonials .testimonial-item{
  border: 1px solid #eef0ef;
  background: #fff; 
  position: relative;
  padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
}
.testimonials .testimonial-wrap{
  padding-left: 50px;
}
.testimonials .testimonial-item h3{
  font-size: 18px;
  font-weight: bold;
  color: #111;
  margin: 10px 0 5px 0;
}
.testimonials .testimonial-item h4{
  font-size: 14px;
  margin: 0;
  color: #999;
}
.testimonials .testimonial-item p{
  font-style: italic;
  margin: 15px auto 15px auto;
}
.testimonials .testimonial-item i{
  color: #c1ecce;
  font-size: 26px;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination-bullet{
  border: 1px solid #5fcf80;
  opacity: 1;
  background-color: #fff;
   height: 12px;
   width: 12px;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active{
  background-color:#5fcf80; ;
}
.counts span{
  color: #5fcf80;
    font-size: 48px;
    font-weight: 700;
}
.counts{
  background-color: #f6f7f6;
  padding: 30px;

}
.counts p{
  /* margin: 0 20px 0px 20px; */
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #37423b;
}
 .why-me .why-choose{
  background-color: #5fcf80;
    color: white;
   border-radius: 4px;
    padding: 30px;
}
 .why-me .why-choose .btn-learn-more{
   color: white;
   padding: 6px 30px 8px 30px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
   
    font-weight: 500;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
}
.why-me .why-choose .btn-learn-more:hover{
  background-color: white;
  color: #5fcf80;
}
.why-me .why-choose .btn-learn-more i {
  font-size: 14px;
}
.why-me .why-choose h3{
  font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}
.why-me .why-choose p{
  font-weight: 500;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
}
 .why-me .icon-boxes i{
  color: #5fcf80;
  background: #ecf9f0;
    padding: 18px;
    border-radius: 50px;
    font-size: 32px;
    margin-bottom: 30px;
}
.why-me .icon-boxes h4{
  font-weight: 700;
  margin: 0 0 30px 0;
  font-size: 20px;
}
.why-me .icon-boxes p{
  font-size: 15px;
    color: #848484;
}
.why-me .icon-boxes .icon-box{
  /* border: 2px solid#f6f7f6;
  padding: 40px 30px 40px 30px; */
  text-align: center;
    background: #fff;
    padding: 40px 30px;
    width: 100%;
    border: 1px solid #eef0ef;
 
  
}
.why-me{
  display: flex;
}
.features{
  padding-top: 0;
}
.features .icon-box h3 a{
  color: #37423b;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    margin-top: -6px !important;
}
.features .icon-box{
  border: 1px solid #eef0ef;
  align-items: center;
  padding: 20px;
  display: flex;
  position: relative;
 
}
.features .icon-box i{
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}
.features .icon-box:hover{
  border-color:   #5fcf80;
}
.features .icon-box:hover  h3 a{
  color:  #5fcf80;
}
.courses .courses-item{
  border-radius: 5px;
  border: 1px solid #eef0ef;
}
 .section-title{
  padding-bottom: 40px;
}
 .section-title h2{
font-size: 14px;
color: #aaaaaa;
text-transform: uppercase;
font-family: "Poppins", sans-serif;
letter-spacing: 2px;
line-height: 1px;
font-weight: 500;
}
.section-title p{
font-size: 36px;
text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
}
.section-title h2::after{
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background-color: #9ae1af;
  margin: 4px 10px;
}
.courses .courses-item .course-content h4{
  background: #5fcf80;
    font-size: 14px;
    padding: 7px 14px;
  margin: 0;
    color: white;
    
}
.courses .courses-item .course-content .content{
  margin-bottom: 1rem;
}
.courses .courses-item .course-content .content .price{
  font-weight: 700;
  color: #37423b;
  font-size: 18px;
  margin: 0;
}
.courses .courses-item .course-content{
  margin: 15px;
}
.courses .courses-item .course-content p {
  color: #777777;
  font-size: 14px;
}
.courses .courses-item a{
  color: #444444;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.courses .courses-item a:hover{
  color: #57c778;

}
 .trainer-profile{
  padding-top: 15px;
  border-top: 1px solid #eef0ef;
}
 .trainer-profile img{
  
    border-radius: 50px;
   max-width: 50px;
}
.courses .courses-item .trainer-profile span{
  color: #5a6c60;
  font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}
.courses .courses-item .trainer-profile .trainer-rank{
  font-size: 18px;
    color: #657a6d;
}
.courses .courses-item img{
  width: 100%;
}
.trainers .member-content h4{
  font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
}
.trainers .member img{
  margin-bottom: 30px;
}
.trainers .member-content span{
  font-size: 13px;
    font-style: italic;
}
.trainers .member-content p{
  font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
    
    padding-top: 10px;
}
.trainers .member-content .social a{
  color: #7e9486;
  font-size: 18px;
}
.trainers .member-content .social{
  margin-top: 15px;
}
.trainers .member-content .social i{
  margin: 0 2px;
}
.trainers .member-content{
 padding: 0 20px 30px 20px;
}
.trainers .member{
  border: 1px solid #eef0ef;
  margin-bottom: 20px;
}
.events .card{
  border: 0;
  padding: 0 0 60px 0;
}
.events .card .card-img{
  width: 100%;
  overflow: hidden;
}
.events .card-img img{
  transition: all 0.3s ease-in-out;
}
.events .card .card-body {
   box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
 margin: -60px 30px 0 30px;
  background: #fff;
  padding: 30px;
  border-top: 4px solid #fff;
  z-index: 10;
}
.events .card-body .card-title{
  margin-bottom: 20px;
}
.events .card .card-body .card-title a{
  text-decoration: none;
  color: #37423b;
  font-weight: 700;
}
.events .card:hover .card-body a{
  color: #57c778;
}
.events .card:hover .card-body{
  border-top-color: #57c778;
}
.events .card:hover img{
  transform: scale(1.1);
}

.breadcrumbs{
  background-color: #5fcf80;
  color: #fff;
  padding: 30px 0px;
    margin-top: 73px;
    text-align: center;
}
.breadcrumbs h2{
  color: #fff;
}
.breadcrumbs p{
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .form{
  border-radius: 4px;
  
}
.contact .infos i{
  font-size: 20px;
  color: #5fcf80;
  float: left;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  width: 44px;
  height: 44px;
  background: #ecf9f0;
}
.contact .infos h4{
  font-weight: 600;
  font-size: 22px;
  padding-left: 60px;
  color: #37423b;
  margin: 0 0 5px 0;
}
.contact .infos p{
padding-left: 60px;
color: #657a6d;
font-size: 14px;
}
.contact .infos .info{
  margin-top: 40px;
}
.contact .infos .info:hover>i{
  background: #5fcf80;
  color:#ecf9f0 ;

}
.pricing .box{
  border: 1px solid #eef0ef;
  text-align: center;
 position: relative;
 overflow: hidden;
}
.pricing .box h3{
  background: #f8f8f8;
  color: #777777;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 15px;
}
.pricing .featured h3{
  background: #5fcf80;
  color:#ecf9f0 ;
 
}
.pricing .advanced{
  background: #5fcf80;
  color:#ecf9f0 ;
    transform: rotate(45deg);
    position: absolute;
    font-size: 14px;
    top: 18px;
    right: -68px;
    width: 200px;
    padding: 1px 0 3px 0;
}
.pricing .box h4{
  color: #5fcf80;
  font-size: 36px;
    color: #5fcf80;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.pricing .box ul{
list-style:none ;
color: #444444;
font-size: 14px;
line-height: 20px;
}
.pricing .box ul li{
padding-bottom: 16px;
}
.pricing .box .na{
  color: #ccc;
    text-decoration: line-through;
}
.pricing .box h4 span{
  color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.pricing .btn-wrap{
  background: #f8f8f8;
  padding: 20px 15px;
 
  background: #f8f8f8;
  text-align: center;
}
.pricing .btn-buy{
text-decoration: none;
background-color: #5fcf80;
border-radius: 50px;
color: #fff;
font-size: 14px;
padding: 8px 35px;
}
.contact .form input{
  /* padding:  8px 10px 8px 10px; */
  height: 44px;
  margin-top: 15px;
  /* padding-bottom: 8px; */
}
.contact .form .form-group{
  padding-bottom: 8px;
}
.contact .form textarea{
  
  height: 44px;

}

.contact{
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 60px;
}
.contact .form .btn-message{
  color: #fff;
  background: #5fcf80;
  border-radius: 50px;
  border: none;
  padding: 10px 35px;
}
.contact .form .btn-message:hover{
  background: #3ac162;
}
.footer-top .footer-contact p{
  font-family: "Raleway", sans-serif;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
}
.footer-top h4{
  color: #444444;
  font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
}
.footer-top .footer-links ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
.footer-top .footer-links ul li{
  padding: 10px 0;
  display: flex;
  align-items: center;
  line-height: 1;
}
.footer-top .footer-links i{
  color: #5fcf80;
  font-size: 18px;
  padding-right: 2px;
  line-height: 1;
}
.footer-top .footer-links a{
  text-decoration: none;
  
}
.footer-top .footer-links ul a{
  color: #777777;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.footer-top .footer-links ul a:hover{
  color: #5fcf80;
}
.footer-top{
  background: #f9faf9;
  padding: 60px 0 30px 0;
}

.footer-top .footer-newsletter form input[type="submit"]{
  border-radius: 50px;
  background: #5fcf80;
  color: #fff;
    padding: 0px 20px 2px 20px;
    font-size: 16px;
    border: 0;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
}
.footer-top .footer-newsletter h4{
  padding-bottom: 12px;
}
.footer-top .footer-newsletter form input[type="email"]{
border: 0;
  border-radius: 50px;
  padding: 4px 8px;
  width: 100%;
 
}
#footer .footer-newsletter {
  font-size: 15px;
}
.footer-top .footer-newsletter form{
  margin-top: 30px;
  border-radius: 50px;
  position: relative;
  background: #fff;
  border: 1px solid #e0e5e2;
  padding: 6px 10px;
}
.footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
.footer .footer-top .footer-links {
  margin-bottom: 30px;
}
.footer .social-links  a{
padding: 8px 0px;
border-radius: 50%;
background-color: #5fcf80;
color: #f6f7f6;
font-size: 18px;
width: 36px;
    height: 36px;
    line-height: 1;
    display: inline-block;
    margin-right: 4px;
}
/* .footer .social-links{
  margin-top: 10px;
} */
.footer .copyright{
  font-size: 14px;
}
.footer .credits{
  font-size: 13px;
  padding-top: 5px;
}
.footer .credits a{
  color: #3ac162;
  text-decoration: none;
}
.back-to-top{
/* position: fixed; */
border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #5fcf80;
    color: #f9faf9;
    position: fixed;
    right: 15px;
    bottom: 15px;
    font-size: 28px;
}

.footer{
  background: #eef0ef;
}